.hero {
    display: flex;
    /*max-height: 600px;*/
    /*height: 80vh;*/
}

.hero > div{
    flex: 1; /* Ensures both divs take equal width */
    display: flex; /* Optional: Align content inside */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */

}

.hero-image img {
    /*max-width: 100%;*/
    height: 850px;
    width: 100%;
    border-radius: 0;
    object-fit: cover;
}

.hero-text {
    /*max-width: 600px;*/
    text-align: center;
    flex-direction: column;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column; /* Stack vertically */
    }

    .hero-image {
        order: 2; /* Image below */
    }

    .hero-text {
        order: 1; /* Text above */
    }
}
